.flex{
    display: flex;
    justify-content: space-between;
}
.flex-2{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    line-height: 120px;
}
.six{
    display: flex;
    justify-content:flex-start;
}
.dada{
    display: flex;
    justify-content:first-;
}
body{
    margin: 20px 50px 20px 50px;
}
